@font-face {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  src: url("NotoEmoji-Regular.ttf");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #24292E;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  background-color: #FFF;
}

.page-container {
  display: flex;
  flex-flow: row wrap;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  flex: 0 1 100%;
  max-width: 100%;
  padding: 14px;
  background-color: #24292E;

  &__title {
    color: #FFF;
    font-size: 16px;
  }
}

main {
  flex: 0 0 80%;
  max-width: 80%;
  padding-top: 20px;
}

.sidebar {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 20px 0 0;
  border-right: 1px solid #DDD;

  nav {
    position: fixed;
    top: 60px;
  }
}

.container {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.col-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.microlight {
  color: #AABBC3;
}

pre {
  background-color: #263238;
  border-radius: 0.2em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.emoji-rating {
  &--blocked {
    pointer-events: none;
  }

  &__list {
    display: inline-flex;
    flex-flow: row-reverse;
    padding: 10px;
    list-style-type: none;
    background-color: #F0F0F0;
    border-radius: 20px;

    span {
      padding: 0 5px;
      font-size: 24px;
      font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
      filter: grayscale(100%) blur(1px);

      &.active,
      &.active ~ span,
      &:hover,
      &:hover ~ span {
        filter: none;
      }
    }
  }
}

.btn {
  &--unblock {
    display: inline-block;
    margin-top: 18px;
    padding: 4px 10px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    background-color: #73E4AD;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}
