.star-rating {
  &__list {
    display: inline-flex;
    flex-flow: row-reverse;
    padding: 0 8px;
    list-style-type: none;
    background-color: #F0F0F0;
    border-radius: 20px;

    li {
      &::before {
        display: block;
        width: 30px;
        height: 30px;
        content: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' preserveAspectRatio='none'%3E%3Cpath d='M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z' fill='%23FBC02D' /%3E%3C/svg%3E");
      }

      &.active,
      &.active ~ li,
      &:hover,
      &:hover ~ li {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' preserceAspectRatio='none'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z' fill='%23FBC02D' /%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
