name: Publish
on:
  push:
    tags:
       - '*'

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
          npm install
      - name: Run test
        run: npm test
        env:
          COVERALLS_REPO_TOKEN: "${{ secrets.COVERALLS_REPO_TOKEN }}"
  linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
          npm install

      - name: Run linters
        run: npm run lint

  publish:
    name: Publish
    needs: [test,linters]
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@main

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
      - run: npm install
      - run: npm publish --access public

  notify:
    name: Notify
    needs: [publish]
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify
        uses: pcvg/slack-notification-action@main
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          TITLE_SUCCESS: "Zvezdochki published!"
          BODY_SUCCESS: "${{ github.actor }}'s version was published - <https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks|${{ github.repository }}>"
          TITLE_FAIL: "Publish: Workflow failed - Zvezdochki!"
          BODY_FAIL: "Failed - ${{ github.actor }}'s workflow in <https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks|${{ github.repository }}>"
